body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.presenter{
  margin: 0;
  padding: 0;
}

.presenter li{
  cursor: pointer;
  opacity: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  width: 90%;
  min-width: 1200px;
  margin: 0 auto;
  top:-20000px;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.presenter li.is-active{
  opacity: 1;
  top: 0px;
}

.presenter li img{
  width: 100%;
  position: absolute;

}

.presenter li.is-active img{
  width: 100%;
}

.next, .prev{
  display: block;
  position: fixed;
  height: 100%;
  width: 50%;
  background: rgba(0, 0, 0, 0);
  z-index: 1;
}

.next{
  right: 0;
}

.prev{
  left: 0;
}
