*{
  font-family: sans-serif;
}

body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.logo {
    width: 400px;
    margin: 50px auto -70px;
    position: relative;
    z-index:  2;
    left: -8px;
}

.presenter{
  margin: 0;
  padding: 0;
}

.presenter li{
  cursor: pointer;
  opacity: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  width: 90%;
  min-width: 1200px;
  margin: 0 auto;
  top:-20000px;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.presenter li.is-active{
  opacity: 1;
  top: 0px;
}

.presenter li img{
  width: 100%;
  position: absolute;

}

.presenter li.is-active img{
  width: 100%;
}

.next, .prev{
  display: block;
  position: fixed;
  height: 100%;
  width: 50%;
  background: rgba(0, 0, 0, 0);
  z-index: 1;
  top: 0;
}

.next{
  right: 0;
}

.prev{
  left: 0;
}

form {
    width: 75%;
    margin: 50px auto;
    position: relative;
    z-index: 2;
    left: 20px;
}

form input{
  outline: none;
  width: 18.5%;
  margin: 0 auto;
  padding: 17px 9px 13px;
  float: left;
  border-radius: 2px;
  border: 1px solid #ccc;
  margin: 0 0.5%;
  font-size: 13px;
}

form input:focus{
  border: 1px solid #695FC7;
}

select {
  padding: 17px 9px 13px;
  margin: 0;
  border-radius: 2px;
  background: #eee;
  color: #888;
  border: none;
  outline: none;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 15%;
  float: left;
  margin: 0 0.5%;
  font-size: 13px;
  border: 1px solid #ccc;
}

.go:after {
  content: '>';
  font-size: 12px;
  color: #CFCFCF;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  left: 13.5%;
  top: 9px;
  padding: 0 0 0px;
  position: absolute;
  pointer-events: none;
  font-weight: 100;
}

.go{
  background: #695FC7;
  display: block;
  width: 11.5%;
  float: left;
  margin: 0 0.5%;
  padding: 8px 8px 6px 8px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  border-radius: 2px;
  font-size: 15px;
  box-shadow: 0px 2px 0px #493EA9;
  line-height: 28px;
}

.bg {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.bg img {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    opacity: .15;
}
