<div ng-class="{'is-collapsed': presentationController.isCollapsed}" tabindex="0" ng-keydown="presentationController.keyboardNavigation($event)">
  <a class="sidebar-toggler" ng-click="presentationController.toggleSidebar()">Toggle Sidebar</a>

  <a class="prev" ng-click="presentationController.prev()"></a>
  <a class="next" ng-click="presentationController.next()"></a>

  <nav class="presenter-nav">
    <ul>
      <li ng-repeat="(key, item) in presentationController.presentation"
          ng-class="{'is-active': key === presentationController.isActive}"
          ng-click="presentationController.goToSlide(key)"
          ng-show="presentationController.isImage(item.download_url)">
          <img ng-src="{{item.download_url}}"/>
      </li>
    </ul>
  </nav>

  <ul class="presenter presenter-fixed-size">
    <li ng-repeat="(key, item) in presentationController.presentation"
        ng-class="{'is-active': key === presentationController.isActive}">
        <img ng-src="{{item.download_url}}"/>
    </li>
  </ul>
</div>
